.row.justify-content-center
  .col-xs-12.col-sm-10.col-md-8.col-lg-6
    h4 Entwicklung
    p
      a href="https://github.com/McMalloc/Naschwerk"
        | Sources auf GitHub
    div
      h5 Todos
      ul
        li Ajax (keine Page reloads, endlos scrollen)
        li Passwort zurücksetzen bzw. ändern
        li Thumbnails lokal beziehen
        li Favourisieren (Dient als Lesezeichen und wenn erwünscht als zweiter Sortiermodus (Posts mit den meisten Favourisierungen))
    hr
    div
      h5 Wünsche oder Kritik
    p
      form#feedback-form method="POST" action="/feedback"
        input hidden="true" name="user" value="#{@user.name}"
        fieldset.form-group
          textarea.form-control name="content" style="height: 200px;"
        .text-right
          button#send-feedback-btn.btn.btn-primary type="submit" Abschicken
